<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
    <div id="map-embed">
      <div id="map-canvas"></div>
      <i id="center">+</i>
      <button id="add-marker" data-behavior="plot" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
    <div id="messages-embed">
      <div id="messages">
        <% @messages.each do |message| %>
          <p>
            <span class="nickname"><%= message.user.try(:nickname) || 'Guest' %></span>
            <span class="content"><%= message.content %></span>
          </p>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="mdl-textfield mdl-js-textfield">
          <input type="text" id="input-message" data-behavior="speaker" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="input-message">メッセージを入力</label>
        </div>
      <% end %>
    </div>
</div>
<script>
window.onload = function() {
  <% @markers.each do |marker| %>
    var marker = createMarker(<%= marker.id %>, '',<%= marker.lat %>, <%= marker.lng %>);
    var infoWindow = createInfoWindow('Wao!', '<%= marker.user.nickname %>');
    attachInfoWindow(marker, infoWindow);
    markers.push(marker);
  <% end %>
};
</script>