<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AwsomeMap</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Awsome Map</span>
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation">
            <% if user_signed_in? %>
              <%= current_user.nickname %>
            <% else %>
              <%= link_to('ログイン', new_user_session_path, class: "mdl-navigation__link") %>
            <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Awsome Map</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <% if user_signed_in? %>
            <%= link_to('ログアウト', destroy_user_session_path, method: :delete, class: "mdl-navigation__link") %>
          <% else %>
            <%= link_to('ログイン', new_user_session_path, class: "mdl-navigation__link") %>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>
    </div>
  </body>
</html>
